@import url('https://fonts.googleapis.com/css?family=Prociono');

.container {
  width: 75%;
  font-family: "Prociono", "Trebuchet MS", Arial;

  .introduction {
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .recipe-box {
    @extend .introduction;
    font-size: 20px;

    a {
      font-size: 20px;
    }

    .deleteRecipe {
      background-color: #ff3333;
    }

    .addRecipe {
      margin-top: 3px;
    }

    .form-control {
      width: 100%;
    }
  }
}

#source {
  margin-top: 80px;
  margin-right: 85px;
  float: right;
}
